.home-page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: black;
  flex-direction: column;

  .shining {
    font-size: 80px;
    font-family: Lato, sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);
    background-size: 80%;
    background-repeat: no-repeat;
    color: transparent;
    background-clip: text;
    animation: shining 4s linear infinite;
  }
  
  @keyframes shining {
    from {
      background-position: -500%;
    }
    to {
      background-position: 500%;
    }
  }

  .enter {
    cursor: pointer;
    --fill-color: #198CE6;
    position: relative;
    display: block;
    padding: 4px 0;
    font: 700 3rem Raleway, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--fill-color);
    background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
    color: transparent;
    background-clip: text;
    transition: 0.5s linear;

    &:hover {
      background-size: 100%;
    }
  }
}