.seven-kitchens-poisonous-chicken-soup-wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;

  &-title {
    height: 48px;
    flex-shrink: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 40px;

    span {
      color: red;
      font-size: 14px;
      margin-left: 6px;
    }
  }

  &-container {
    flex: 1;

    .content {
      text-align: center;
      --fill-color: #3296fa;
      position: relative;
      display: block;
      padding: 4px 0;
      font: 700 3rem Raleway, sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-text-stroke: 2px var(--fill-color);
      background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
      color: transparent;
      background-clip: text;
      transition: 2s linear;

      &:hover {
        background-size: 100%;
      }
    }

    .operate {
      margin-top: 30px;
      text-align: center;
    }

  }
}