.seven-kitchens-banner-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;

  .banner-left {
    width: 50%;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
  }

  .banner-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    .banner-right-user-wrapper {
      height: 36px;
      width: 36px;
      border-radius: 18px;
      background-color: #D4E6F0;
      color: #3296fa;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
  }
}

@media (max-width: 580px) {
  .seven-kitchens-banner-wrapper {
    .banner-left {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .banner-right {
      width: 0;
      display: none;
    }
  }
}